__pycache__/
*.pyc
*.pyo

build/
dist/
*.egg-info/

.vscode/

*.DS_Store

cx_freeze/build/
cx_freeze/dist/
cx_freeze/venv/
cx_freeze/settings.py

pyinstaller/build/
pyinstaller/dist/
pyinstaller/venv/
pyinstaller/installer_dist/
pyinstaller/version_info.txt
